//////////////////////////////////////////////////
/* ———————————— BRAND COLORS/SETUP ———————————— */
//////////////////////////////////////////////////

/*—————*///DESIGNER COLOR
$color_ninyo: #2d9ad2;

/*—————*///BRAND COLORS
$color_brand_primary: #49afc6;
$color_brand_secondary: #b08838;

/*—————*///VALUE COLORS
$color_ghost: #e9e9e9;
$color_ash: #f2f2f2;
$color_shade: #2b2727;
$color_white: #FFF;
$color_black: #161a1d;
$color_darkwhite: #edeae3;
$color_offwhite: #fafafa;

/*—————*///TYPOGRAPHY COLORS
$color_h1_onlight: $color_shade;
$color_h1_ondark: $color_brand_primary;
$color_p_onlight: $color_shade;
$color_p_ondark: $color_white;

/*—————*///COPYRIGHT SECTION COLORS
$bg_copyright: $color_shade;
$color_copyright: $color_brand_primary;


//////////////////////////////////////////////////
/* ———————————————— TYPOGRAPHY ———————————————— */
//////////////////////////////////////////////////

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@mixin use_noto { // used for body copy
	font-family: 'Noto Sans Japanese', sans-serif;
	}	

@mixin use_fira { // used for italics
	font-family: 'Fira Sans', sans-serif;
	}

@mixin use_lato { // used for header and subhead copy
	font-family: 'Lato', sans-serif;
	}

//////////////////////////////////////////////////
/* —————————————————— GLOBAL —————————————————— */
//////////////////////////////////////////////////

$tablet_body: 760px;
$laptop_body: 1080px;
$desktop_body: 1440px;

@mixin section { // section wrap the full width of viewport
	width:100%;
	padding-top:50px;
	padding-bottom:68px;
	@media screen and (min-width: $tablet_body) {
		padding-top:56px;
		padding-bottom:78px;
		}
	@media screen and (min-width: $laptop_body) {
		padding-top:60px;
		padding-bottom:100px;
		}
	}
.section {@include section;}

@mixin inner { // inner contains contents inside section using dynamic margins dependant on viewport width
	margin:0 auto;
	width:93.066666666667%; // 375px viewport width using 345px body using 15px left & right margins
	text-align:center;
	@media screen and (min-width: $tablet_body) {width:84.473684210526%;} // 760px viewport width using 642px body using 59px left & right margins
	@media screen and (min-width: $laptop_body) {width:83.333333333333%;} // 1440px viewport width using 1200px body using 120px left & right margins
	@media screen and (min-width: $desktop_body) {width:1440px;}
	}.inner {@include inner;}

@mixin inner_block { // inner_block is used to make small amount of text create more lines than one
	margin:0 auto;
	width:93.066666666667%; // 375px viewport width using 345px body using 15px left & right margins
	@media screen and (min-width: $tablet_body) {width:75%;} // 760px viewport width using 642px body using 59px left & right margins
	@media screen and (min-width: $laptop_body) {width:60%;} // 1440px viewport width using 1200px body using 120px left & right margins
	}
.inner_block {@include inner_block;}

@mixin vertical_center {
	&:before {
	    content: "";
	    display: inline-block;
	    vertical-align: middle;
	    height: 100%;
		}
	}

@mixin header_main {
	text-align:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	height:100vh;
	@include vertical_center;
	}.header_main {@include header_main;}

@mixin header_short { // if header, then place inside .section wrapper
	display:block;
	background-size:cover;
	background-repeat:no-repeat;
	height:140px;
	text-align:center;
	@include vertical_center;
	@media screen and (min-width: $tablet_body) {height:200px;}
	@media screen and (min-width: $laptop_body) {height:260px;}
	}

.header_short {@include header_short}

.text_appear { // if mobile, then text is hidden. text will appear on tablet, and desktop
	display:none;
	@media screen and (min-width: $tablet_body) {display:inline-block;}
	@media screen and (min-width: $laptop_body) {display:inline-block;}
	}

p.bottom {
	margin-bottom:40px;
	@media screen and (min-width: $tablet_body) {margin-bottom:40px;}
	@media screen and (min-width: $laptop_body) {margin-bottom:40px;}
	}

.group_center {
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	}

.list_center {
	border-top:1px solid lighten(#999, 20%);padding-top:20px;
	width:77%;
	margin:0 auto ;
    margin-top:30px;
    margin-bottom:0px;
    text-align:center;
    div {
    	display:block;
    	margin: 0 auto;
    	width:13px;
    	height:10px;
    	margin-bottom: 26px;
    	}
    li {
    	margin-bottom:3px;
		&:last-child {margin-right:0;}
	    @media screen and (min-width: $tablet_body) {}
		@media screen and (min-width: $laptop_body) {display:inline-block;margin-right:20px;}
		}
	}

//////////////////////////////////////////////////
/* —————————————— GLOBAL MIXIN ———————————————— */
//////////////////////////////////////////////////

@mixin vp($name, $value) {@each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {#{$vendor}#{$name}: #{$value};}}
@mixin hide {height:0;opacity:0;}
@mixin unhide {height:initial;opacity:1;}
@mixin reset {margin:0;padding:0;list-style-type:none;text-decoration:none;} 
@mixin clearfix {&:after {content: "";display: table;clear: both;}}

@mixin mobile_1 { // body width = 345px, column width = 171, space = 3px
	height:210px;
	width:100%;
	}
@mixin mobile_2 { // body width = 345px, column width = 171, space = 3px
	height:150px;
	width:50%;
	}
@mixin mobile_3 { // body width = 345px, column width = 171, space = 3px
	height:123px;
	width:33.33333333333333%;
	}
@mixin mobile_space { // space = 3px
	margin-right:0;
	}
/*-----*/	
@mixin tablet_2 { // body width = 642px, column width = 319px, space = 4px
	height:210px;
	width:50%;
	}
@mixin tablet_3 { // body width = 642px, column width = 396.667px, space = 4px
	height:203px;
	width:33.33333333333333%;
	}
@mixin tablet_space { // space = 4px
	margin-right:0%;
	}
/*-----*/
@mixin laptop_2 { // body width = 1200px, column width = 597.5px, space = 5px
	height:373px;
	width:50%;
	}
@mixin laptop_3 { // body width = 1200px, column width = 393.333px, space = 5px 
	height:273px;
	width:33.33333333333333%;
	}
@mixin laptop_4 { // body width = 1200px, column width = 393.333px, space = 5px 
	height:260px;
	width:25%;
	}
@mixin laptop_space { // space = 5px
	margin-right:0%;
	}
/*-----*/
@mixin desktop_4 { // body width = 1200px, column width = 393.333px, space = 5px 
	height:350px;
	width:25%;
	}

@mixin grid { // this will be added to all list-item grids
	@include clearfix;
	li {
		//$mobile_body below
		@include vp('transition','.25s');
		background:white; 
		float:left !important;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;

		@media screen and (min-width: $tablet_body) {@include tablet_space;}
		@media screen and (min-width: $laptop_body) {@include laptop_space;}
		}
	}
@mixin grid_1_1_1 { // use this if(count($project[url_visual]) == 1){@include grid_1_1_1}
	@include grid;
	li {
		//$mobile_body below
		@include mobile_1;
		@media screen and (min-width: $tablet_body) {
			width:100%;
			height:316px;
			margin-right:0%;
			}
		@media screen and (min-width: $laptop_body) {
			width:100%;
			height:600px;
			margin-right:0%;
			}
		}
	}
@mixin grid_1_2_2 { // use this if(count($project[url_visual]) == 2){@include grid_1_2_2}
	@include grid;
	li {
		//$mobile_body below
		@include mobile_1;
		@media screen and (min-width: $tablet_body) {
			@include tablet_2;
			&:nth-child(2n+2){margin-right:0%;}
			}
		@media screen and (min-width: $laptop_body) {
			@include laptop_2;
			&:nth-child(2n+2){margin-right:0%}
			}
		}
	}
@mixin grid_1_3_3 { // use this if(count($project[url_visual]) == 3){@include grid_1_3_3}
	@include grid;
	li {
		//$mobile_body below
		@include mobile_1;
		@media screen and (min-width: $tablet_body) {
			@include tablet_3;
			&:nth-child(3n+3){margin-right:0;}
			}
		@media screen and (min-width: $laptop_body) {
			@include laptop_3;
			&:nth-child(3n+3){margin-right:0;}
			}
		}
	}
@mixin grid_2_2_2 { // use this if(count($project[url_visual]) == 4){@include grid_2_2_2}
	@include grid;
	li {
		//$mobile_body below
		@include mobile_2;
		@include mobile_space;
		&:nth-child(2n+2){margin-right:0;}	
		@media screen and (min-width: $tablet_body) {
			@include tablet_2;
			@include tablet_space;
			}
		@media screen and (min-width: $laptop_body) {
			@include laptop_2;
			@include laptop_space;
			}
		}
	}
@mixin grid_1_2_3 { // use this if(count($project[url_visual]) == 5){@include grid_1_2_2}
	@include grid;
	li {
		//$mobile_body below
		@include mobile_1;
		@media screen and (min-width: $tablet_body) {
			@include tablet_2;
			&:nth-child(2n+2){margin-right:0%;}
			}
		@media screen and (min-width: $laptop_body) {
			@include laptop_3;
			&:nth-child(2n+2){@include laptop_space}
			&:nth-child(3n+3){margin-right:0;}
			}
		}
	}
@mixin grid_2_3_3 { // use this if(count($project[url_visual]) == 6){@include grid_2_3_3}
	@include grid;
	li {
		//$mobile_body below
		@include mobile_2;
		@include mobile_space;
		&:nth-child(2n+2){margin-right:0;}
		@media screen and (min-width: $tablet_body) {
			@include tablet_3;
			@include tablet_space;
			&:nth-child(2n+2){@include tablet_space;}
			&:nth-child(3n+3){margin-right:0;}
			}
		@media screen and (min-width: $laptop_body) {
			@include laptop_3;
			@include laptop_space;
			&:nth-child(2n+2){@include laptop_space;}
			&:nth-child(3n+3){margin-right:0;}		
			}
		}
	}
@mixin grid_3_3_4 { // use this if(count($project[url_visual]) == 6){@include grid_2_3_3}
	@include grid;
	li {
		//$mobile_body below
		@include mobile_3;
		@include mobile_space;
		@media screen and (min-width: $tablet_body) {
			@include tablet_3;
			@include tablet_space;
			}
		@media screen and (min-width: $laptop_body) {
			@include laptop_4;
			@include laptop_space;	
			}
		@media screen and (min-width: $desktop_body) {
			@include desktop_4;
			}
		}
	}
@mixin reset_button {
	@include reset;
	@include vp('border-radius','2px');
	@include use_fira;
	@include vp('transition','.125s');
	font-weight:500;
	background-color:transparent;
	border:0;
	font-size:14px;
	text-transform:uppercase;
	color:$color_brand_primary;
	letter-spacing: 0.15em;
	padding:8px 27px;
	border:2px solid $color_brand_primary;
	display:inline-block;
	&:hover {
		background:$color_brand_primary;
		color:white;
		}
	}
.grid_1_1_1 {@include grid_1_1_1}
.grid_1_2_2 {@include grid_1_2_2}
.grid_1_3_3 {@include grid_1_3_3}
.grid_2_2_2 {@include grid_2_2_2}
.grid_1_2_3 {@include grid_1_2_3}
.grid_2_3_3 {@include grid_2_3_3}
.grid_3_3_4 {@include grid_3_3_4}

@mixin grayscale_tocolor {
	li {
		@media screen and (min-width: $laptop_body) {
			@include vp('filter','grayscale(100%)');
			&:hover {@include vp('filter','grayscale(0%)');}
			}
		}
	}

@mixin section_copyright {
	@include use_fira;
	background:black;
	padding:20px;
	width:100%;
	text-align:center;
	p {
		font-size:0.9em;
		color:lighten($color_shade,10%);
		a {
			@include vp('transition','.25s');
			text-decoration:none;
			color:lighten($color_shade,10%);
			&:hover {
				color:$color_ninyo;
				}
			}
		}
	}	

//////////////////////////////////////////////////
/* —————————————————— SOCIAL —————————————————— */
//////////////////////////////////////////////////

.common_social {
	@include vp('border-radius','2px');
	@include vp('transition','.25s');
	background-image:url(_library/asset/ico_sprite_social_b.svg);
	background-size:1000%;
	height:30px;width:30px;
	display:inline-block;
	margin-right:5px;
	&:last-child {margin-right:0;}
	&:hover {background-position-y: -60px;}
	}

$color_instagram:#2a5b83;
.instagram {
	@extend .common_social;
	background-position-x: 0px;
	&:hover {background-color:$color_instagram;}
	}

$color_facebook:#4b6daa;
.facebook {
	@extend .common_social;
	background-position-x: -30px;
	&:hover {background-color:$color_facebook;}
	}

$color_snapchat:#fffc01;
.snapchat {
	@extend .common_social;
	background-position-x: -60px;
	&:hover {background-color:$color_snapchat;}
	}

$color_vimeo:#1ab7ea;
.vimeo {
	@extend .common_social;
	background-position-x: -90px;
	&:hover {background-color:$color_vimeo;}
	}

$color_twitter:#659fcb;
.twitter {
	@extend .common_social;
	background-position-x: -120px;
	&:hover {background-color:$color_twitter;}
	}

$color_behance:#319DD4;
.behance {
	@extend .common_social;
	background-position-x: -150px;
	&:hover {background-color:$color_behance;}
	}

$color_linkedin:#0077B5;
.linkedin {
	@extend .common_social;
	background-position-x: -180px;
	&:hover {background-color:$color_linkedin;}
	}

$color_youtube:#EE1C1B;
.youtube {
	@extend .common_social;
	background-position-x: -210px;
	&:hover {background-color:$color_youtube;}
	}

$color_treehouse:#69C773;
.treehouse {
	@extend .common_social;
	background-position-x: -240px;
	&:hover {background-color:$color_treehouse;}
	}

$color_fyuse:#f99805;
.fyuse {
	@extend .common_social;
	background-position-x: -270px;
	&:hover {background-color:$color_fyuse;}
	}

//////////////////////////////////////////////////
/* ——————————————— TYPOGRAPHY ————————————————— */
//////////////////////////////////////////////////

h1 { // Large header text
	@include reset;
	@include vp('transition','.25s');
	@include use_lato;
	color:$color_shade;
	font-weight:500;
	font-size:23px;
	line-height:28px;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:18px;
	
	@media screen and (min-width: $tablet_body) {
		font-size:30px;
		line-height:31px;
		margin-bottom:23px;
		}
	@media screen and (min-width: $laptop_body) {
		font-size:40px;
		line-height:40px;
		margin-bottom:32px;
		}
	}

h2 { // Large copy text usually placed underneath header, followed by text
	@include reset;
	@include vp('transition','.25s');
	@include use_noto;
	color:$color_brand_primary;
	font-weight:normal;
	padding-top:33px;
	font-size:25px;
	line-height:29px;
	padding-bottom:23px;
	text-align:center;
	@media screen and (min-width: $tablet_body) {
		padding-top:57px;
		font-size:28px;
		line-height:32px;
		padding-bottom:24px;
		}
	@media screen and (min-width: $laptop_body) {
		padding-top:54px;
		font-size:31px;
		line-height:37px;
		padding-bottom:25px;
		}
	}

h3 { // text that is about the same size as paragraph, accept holds more weight
	@include reset;
	@include vp('transition','.25s');
	@include use_lato;
	color:$color_shade;
	font-weight:500;
	font-size: 16px;
	margin-bottom: 7px;
	}

p {
	@include reset;
	@include vp('transition','.25s');
	@include use_noto;
	color:$color_shade;
	font-weight: 200;
	font-size: 14px;
	line-height: 25px; 
	text-align:center;

	@media screen and (min-width: $tablet_body) {
		font-size:15px;
		line-height:28px;
		}
	@media screen and (min-width: $laptop_body) {
		font-size:16px;
		line-height:30px;
		}
	}

p.label {}

@mixin mobile_only { // show mobile, hide tablet and desktop
	display:initial
	@media screen and (min-width: $tablet_body) {display:none;}
	}
@mixin device_only { // show device, hide desktop 
	display:initial;
	@media screen and (min-width: $laptop_body) {display:none;}
	} 
@mixin mobile_anti { // hide mobile, show on tablet and desktop
	display:none;
	@media screen and (min-width: $tablet_body) {display:initial;}
	}

//////////////////////////////////////////////////
/* —————————————————— RESET ——————————————————— */
//////////////////////////////////////////////////

* {
	margin:0;padding:0;
	text-decoration:none;
	list-style-type:none;
	@include vp('box-sizing','border-box');
	}

//////////////////////////////////////////////////
/* ———————————— DESIGN COMPONENTS ————————————— */
//////////////////////////////////////////////////

@mixin logo_primary {
	display:inline-block;
	vertical-align: middle;
	background-image:url(_library/asset/gfx_logo_primary_b.svg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:78%;
	width:136px;
	height:62px;
	margin-bottom:50px;
	@media screen and (min-width: $tablet_body) {
		width:216px;
		height:100px;
		background-size:60%;
		} // 760px viewport width using 642px body using 59px left & right margins
	@media screen and (min-width: $laptop_body) {
		background-size:60%;
		width:216px;
		height:100px
		} // 1440px viewport width using 1200px body using 120px left & right margins
	}.logo_primary {@include logo_primary;}

@mixin logo_interior {
	display:inline-block;
	vertical-align: middle;
	background-image:url(_library/img/asset/gfx_logo_primary_b.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:60%;
	width:287px;
	height:80px;
	@media screen and (min-width: $tablet_body) {background-size:70%;} 
	@media screen and (min-width: $laptop_body) {background-size:90%;}
	}
.logo_interior {
	@include logo_interior;
	}
@mixin logo_footer {
	display:inline-block;
	background-image:url(_library/img/asset/gfx_logo_footer.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:84%;
	width:235px;
	height:65px;
	margin-bottom:30px;
	color:$color_brand_primary_dark;
	}
@mixin logo_navigation {}
@mixin style_label_line {
	text-align:center;
	margin-top:-15px;
    margin-bottom:10px;
    font-weight:300;
	font-size:16px;
	@media screen and (min-width: $laptop_body) {margin-top:-29px;}

	div.line {
		display:inline-block;
		height:3px;
		margin-bottom:4px;
		background:$color_brand_primary;
		width:24pt;
		@media screen and (min-width: $tablet_body) {
			width:40pt;
			}
		@media screen and (min-width: $laptop_body) {
			width:65px;
			}
		}
	p.below {
		display:inline-block;
		margin-left:15px;
		margin-right:15px;
		font-style:italic;
		}
	}
@mixin style_button {
	@include vp('transition','.125s');
	@include vp('border-radius','2px');
	@include use_fira;
	vertical-align: middle;
	color:white;
	background:$color_brand_primary;
	padding:11px 30px;
	font-weight:400;
	font-size:14px;
	border:0;
	margin:auto;
	display:inline-block;
	margin-top:28px;
	margin-bottom:54px;
	&:hover {
		background-color:darken($color_brand_primary,5%);
		}
	}

.style_button {@include style_button;}

.underline {
	width:40px;
	height:3px;
	background:$color_brand_primary; 
	margin-top:0px; 
	margin-bottom:15px;
	}

.separator {
	width:100%;
	@include vp('border-radius','2px');
	height:5px;
    margin-top:-53px;
    margin-bottom:54px;
	background:$color_brand_primary;
	@media screen and (min-width: $tablet_body) {
	    margin-top: -58px;
	    margin-bottom: 48px;
		}
	@media screen and (min-width: $laptop_body) {
	    margin-top: -62px;
	    margin-bottom: 46px;
		}
	}

.title_primary {
	margin-top:-19px;
	@media screen and (min-width: $tablet_body) {margin-top:0;}
	@media screen and (min-width: $laptop_body) {margin-top:0;}
	}


.section_divide {
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	display:block;
	overflow:hidden;
	padding-top:0;
	padding-bottom:0;
	height:400px;
	@include vertical_center;
	text-align:center;
	.inner {
		display:inline-block;
		p {
		    color: white;
		    font-family: lato;
		    text-transform: uppercase;
		    font-weight: 200;
		    letter-spacing: 2px;
		    font-size: 16px;
			}
		}
	}

.section_portfolio {
	background-color:$color_black;
	padding-top:0px;padding-bottom:0px;
	@media screen and (min-width: $tablet_body) {padding-top:0px;padding-bottom:0px;}
	@media screen and (min-width: $laptop_body) {padding-top:0px;padding-bottom:0px;}
	ul {
		padding:0;
		background-color:$color_black;
		li {
			@include vp('transition','.125s');
			position:relative;
			overflow:hidden;
			// ————————————————————————————— HOVER LAYER
			&:hover { 
				.layer_text {
					opacity:1;
					.container_layer_text {
						p.title_project {margin-bottom:-20px;}
						.layer_text_line {
							width:60px;
							background-color:$color_brand_primary;
							}
						}
					}
				.layer_dark {
					background-color:black;
					}
				.layer_img_portfolio {
					@include vp('transform','scale(1.025,1.025)');
					}
				}
			// ————————————————————————————— END OF HOVER LAYER
			.layer_text {
				@include vp('transition','.125s');
				@include vertical-center;
				left:0;top:0;
				opacity:0;
				z-index:30;
				padding:20px;
				position:absolute;
				width:100%;height:100%;
				.container_layer_text {
					display:inline-block;
					text-align:center;
					width:100%;
					vertical-align: middle;
					p.title_project {
						@include vp('transition','.25s');
						display:inline-block;
						width:100%;
						color:white;
						@include use_noto;
						font-size:10px;
						text-transform:uppercase;
						font-weight: 500;
		    			letter-spacing: 2.3px;
						line-height:1.2;
						margin-bottom:40px;
						@media screen and (min-width: $tablet_body) {
							font-size:17px;
							}
						@media screen and (min-width: $laptop_body) {
							font-size:22px;
							}
						}
					.layer_text_line {
						@include vp('border-radius','2px');
						@include vp('transition','.5s');
						width:20px;
						height:2px;
						background-color:$color_brand_primary;
						display:inline-block;
						}
					p.location {
						@include vp('transition','.125s');
						display:inline-block;
						width:100%;
						@include use_fira;
						font-style:italic;
						font-size:10px;
						color:white;
						@media screen and (min-width: $tablet_body) {
							font-size:12px;
							}
						@media screen and (min-width: $laptop_body) {
							font-size:14px;
							}
						}
					ul {
						@include hide;
						display:inline-block;
						overflow: auto;
						display: inline-block;
						background-color:transparent;
						@media screen and (min-width: $laptop_body) {
							@include unhide;
							margin-top:15px;
							}
						li {
							@include vp('box-sizing','content-box');
							display:inline-block;
							@include vp('border-radius','50%');
							@include vp('transition','.25s');
							padding:0;
							margin:0;
							// border:3px solid $color_shade;
							background-image:url(_library/asset/ico_sprite_badge.svg);
							background-size:600%;
							background-color:transparent;
    						background-position-y: 0px;
							height:40px;width:40px;
							display:inline-block;
							margin-right:5px;
							&:last-child {margin-right:0;}
							&:hover {
								background-position-y: -40px;
								border-color:white;
								}
							}
						}
					}
				}
			.layer_dark {
				@include vp('transition','.25s');
				z-index:20;
				position:absolute;
				width:100%;height:100%;
				opacity:.95;
				}	
			.layer_img_portfolio {
				@include vp('transition','.125s');
				background:black;
				z-index:10;
				position:absolute;
				width:100%;height:100%;
				@include vp('transform','scale(1.01,1.01)');
				}
			}
		}
	}

li.xd {background-position-x: -1px !important;}
li.id {background-position-x: -41px !important;}
li.fed {background-position-x: -80px !important;}
li.ur {background-position-x: -120px !important;}
li.vd {background-position-x: -159px !important}
li.cs {background-position-x: -199px !important}

//////////////////////////////////////////////////
/* ————–––––———————— CSS MAIN —–––––——————————— */
//////////////////////////////////////////////////

.header_interior {
	height:210px;
	@include vp('transition','.5s');
	@media screen and (min-width: $tablet_body) {
		height:285px;
		}
	@media screen and (min-width: $laptop_body) {
		height:360px;
		}
	}

.header_main {
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-color:white;
	padding-bottom:0;
	padding-top:0;
	.container {
		display:inline-block;
		vertical-align: middle;
		.logo_primary {margin-bottom:23.389355322339vh;}
		.header_introduce {
			font-weight:600;
			font-family: lato;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		    color:$color_brand_secondary;
			}
		.header_position {
			line-height:1;
			margin-bottom:60px;
			}
		.header_description {
			@include use_noto;
			color:black;
			border-top: 2px solid #999;
		    padding-top: 20px;
		    padding-bottom: 22px;
		    border-bottom: 2px solid #999;
		    margin: 0 auto;
		    margin-bottom:6.513343328336vh;
			}
		ul {
			display:inline-block;
			li {
				position:relative;
				&:hover {
					p {
						@include unhide;
						top:40px;
						opacity:.8;
						}
					}
				a {
					display:block;
					width:100%;
					height:100%
					}
				p {
					@include hide;
					@include use_fira;
					@include vp('border-radius','2px');
					@include vp('transition','.5s');
					font-style:italic;
					width:180px;
					margin:0 auto;
					position:absolute;
					font-size:12px;
					color:white;
					background-color:$color_black;
					left:-77px;
					top:50px;
					}
				}
			}
		}
	@media screen and (min-width: $tablet_body) {
		.container {
			.logo_primary {margin-bottom:26.003309692671vh;}
			.header_description {
				width:75%;
				margin-bottom:11.82963vh;
				}
			}
		}
	@media screen and (min-width: $laptop_body) {
		.container {
			.logo_primary {margin-bottom:25.386888888889vh;}
			.header_description {
				width:50%;
				margin-bottom:10.362vh;
				}
			}
		}
	}

.about {
	padding-top:0;
	padding-bottom:0;
	.about_upper {
		background-image:url(_library/asset/img_about.png);
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center;
		height:180px;width:100%;
		@media screen and (min-width: $tablet_body) {height:250px;}
		@media screen and (min-width: $laptop_body) {height:400px;}

		.inner {
			position:relative;
			height:100%;
			.side_buttons {
				&:hover {
					border:2px solid white;
					}
				@include use_noto;
				@include vp('transition','.125s');
				position:absolute;
				background-size:initial;
				display:inline-block;
				background-repeat:no-repeat;
				font-size:14px;
				font-weight:500 !important;
				color:white;
				letter-spacing:2px;
				padding:10px;
				border:2px solid transparent;
				padding-top: 7px;
			    padding-left: 43px;
			    padding-right: 20px;				
				}
			.email {
				@extend .side_buttons;
				background-position-x: 10px;
				background-image:url(_library/asset/ico_mail.svg);
				left:-33px;
				top:59px;
				@include vp('border-radius','2px');
				@include vp('transform','rotate(90deg)');
				@media screen and (min-width: $tablet_body) {left:-81px;}
				@media screen and (min-width: $laptop_body) {
					@include vp('box-shadow','0 0 3px #222');
				    left: 160px;
				    top: 293px;
				    border:2px solid white;
					}
				}
			.resume {
				@extend .side_buttons;
				background-position-x: 13px;
				background-image:url(_library/asset/ico_resume.svg);
				right:-41px;
				top:67px;
				@include vp('border-radius','2px');
				@include vp('transform','rotate(90deg)');
				@media screen and (min-width: $tablet_body) {right:-90px;}
				@media screen and (min-width: $laptop_body) {
					@include vp('box-shadow','0 0 3px #222');
					right:inherit;
					top: 301px;
    				left: 200px;
    				border:2px solid white;
					}
				}
			}
		}
	.about_below {
		background-color:#f0f0f0;
		padding-bottom:40px;
		@media screen and (min-width: $laptop_body) {background-color:white;}
		.inner {
			@include clearfix;
			.content_bio {
				text-align:center;
				margin-bottom:70px;
				.profile_pic {
					@include vp('box-shadow','0 0 3px #222');
					display:inline-block;
					background-image:url(_library/asset/img_profile_pic.png);
					background-size:cover;
					background-position:center;
					background-repeat:no-repeat;
					width:120px;height:120px;
					border:2px solid white;
					@include vp('border-radius','2px');
					margin-bottom:40px;
					margin-top:-90px;
					}
				.name {
					@include use_lato;
					color:$color_brand_secondary;
					font-weight:500;
					text-transform:uppercase;
					letter-spacing:2px;
					}
				.title {
					font-style:italic;
					font-weight:300;
					}
				.line_divider {
					@include vp('border-radius','2px');
					display:inline-block;
					width:50px;
					background-color:$color_brand_secondary;
					height:2px;
					margin-top:18px;
					margin-bottom:40px;
					}
				.paragraph {
					p {}
					}
				@media screen and (min-width: $tablet_body) {
					// .content_bio for tablet

					}
				@media screen and (min-width: $laptop_body) {
					// .content_bio for desktop
					float:left;
					width:62%;
					margin-right:5.5%;
					text-align:left;
					.profile_pic {
						display:block;
						text-align:left;
						margin-top:-151px;
						width:190px;height:190px;
						}
					.name {
						display:block;
						text-align:left;
						}
					.title {
						display:block;
						text-align:left;
						}
					.line_divider {
						display:block;
						text-align:left;
						}
					.paragraph {
						text-align:left;
						p {
							display:block;
							text-align:left;
							}
						}
					}
				}
			.content_scorecard {
				@include vp('transition','.125s');
				text-align:center;
				.icon_scorecard {
					display:inline-block;
					background-image:url(_library/asset/icon_scorecard.png);
					background-size:cover;
					background-repeat:no-repeat;
					background-position:center;
					width:35px;height:35px;
					margin-bottom:25px;
					}
				ul {
					text-align:center;
					padding-bottom:30px;
					.section_score_type {
						@include vp('transition','.125s');
						&:hover {
							background:$color_black;
							.score_amount {color:white;}
							}
						@include vp('border-radius','2px');
					    padding-top: 27px;
					    padding-bottom: 19px;
						background-color:white;
						width:32.338208955224%;
						display:inline-block;
						margin-right:1.492537313433%;
						margin-bottom:5px;
						&:nth-child(3n+3){margin-right:0;}
						.score_amount {
							@include use_lato;
							font-weight:500;
							margin-bottom: 10px;
							font-size:41px;
							color:$color_black;
							}
						.score_type {
							@include use_noto;
							font-weight:400;
							color:$color_brand_secondary;
							}
						}
					}
				p.scorecard_description {
					@include use_noto;
					padding-top:20px;
					border-top:1px solid black;
					}
				@media screen and (min-width: $tablet_body) {
					// .content_scorecard for tablet
					ul {
						.section_score_type {
							width:16.147507788162%;
							margin-right:0.623052959502%;
							&:nth-child(3n+3){margin-right:0.623052959502%;
								}
							&:last-child {margin-right:0;}	
							}
						}
					}
				@media screen and (min-width: $laptop_body) {
					// .content_scorecard for desktop
					&:hover {background-color:darken(#f0f0f0,2.5%)}
					float:left;
					width:32.5%;
					padding:35px;
					margin-top:77px;
					margin-bottom:77px;
					background-color:#f0f0f0;
					ul {
						.section_score_type {
							width:32.497492163009%;
							margin-right:1.253918495298%;
							&:nth-child(3n+3){margin-right:0}
							}
						}
					}
				}
			}
		}		
	}
.footer {
	@include vertical_center;
	text-align:center;
	height:296px;
	background:url(_library/asset/bg_divide.gif);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	padding:0;
	a {
		vertical-align: middle;
		display:inline-block;
		@include use_lato;
		padding:20px 40px;
		text-transform:uppercase;
		border:2px solid white;
		@include vp('border-radius','2px');
		color:white;
		}
	}
.copyright {
	text-align:center;
	padding:0;
	padding:30px;
	background-color:$color_black;
	p {
		@include use_noto;
		font-size:13px;
		font-weight:200;
		margin:0 auto;
		color:white;
		}
	}

.section_interior {
	padding:0;
	background-color:white;
	@media screen and (min-width: $laptop_body) {
		background-color:transparent;
		.inner {
			background-color:white;
			}
		}
	.inner {
		@include inner;
		padding-bottom:70px;
		@media screen and (min-width: $tablet_body) {}
		@media screen and (min-width: $laptop_body) {
			@include vp('border-radius','3px 3px 0 0');
			padding-bottom:0;
			}
		.interior_body {
			@include vp('transition','.5s');
			@media screen and (min-width: $laptop_body) {
				margin-top: -170px;
				padding:5%;;
				}
			.body_nav {
				@include clearfix;
				margin-top:33px;
				height:45px;
				@media screen and (min-width: $laptop_body) {margin-top:0;}
				.nav_text {
					position:relative;
					@include vp('transition','.125s');
					p {
						@include vp('transition','.125s');
						@include use_noto;
						display:inline-block;
						font-weight:500;
						line-height: 1.3;
						}
					div {
						@include vp('transition','.125s');
						position:absolute;
						background-image:url(_library/asset/ico_nav_arrows.svg);
						background-repeat:no-repeat;
						background-size:200%;
						width:12px;height:20px;
						opacity:0;
						}
					&:hover {
						div {
							@include vp('transition','.5s');
							opacity:1.0;
							}
						}
					}
				.nav_prev {
					@extend .nav_text;
					float:left;
					div {margin-right:5px;left:10px;}
					&:hover {
						padding-left:25px;
						div {left:0px}
						}
					}
				.nav_next {
					@extend .nav_text;
					float:right;
					div {background-position-x:100%;right:10px}
					&:hover {
						padding-right:25px;
						div {right:0px}
						}
					}
				}
			.body_content {
				text-align:center;
				margin-top:-20px;
				.content_avatar {
					@include vp('transition','.5s');
					@include vp('border-radius','2px');
					display:inline-block;
					background-color:black;
					width:165px;height:165px;
					margin-top: -113px;
					@media screen and (min-width: $tablet_body) {
						width:200px;height:200px;
						margin-top: -141px;
						}
					@media screen and (min-width: $laptop_body) {
						width:215px;height:215px;
						margin-top: -173px;
						}
					}
				.content_title {
					h1 {
						@include use_lato;
						font-size:21px;
						margin-top: 30px;
						font-weight:600 !important;
						color:$color_black;
						margin-bottom:-1px;
						line-height:34px;
						letter-spacing:4px;
						margin-bottom: 7px;
						@media screen and (min-width: $tablet_body) {font-size:27px}
						@media screen and (min-width: $laptop_body) {font-size:28px}
						}
					p {
						@include use_noto;
						margin-bottom:18px;
						}
					}
				.content_bar {
					display:inline-block;
					width:100px;height:3px;
					background-color:$color_brand_secondary;
					@include vp('border-radius','2px');
					margin-bottom:30px;
					}
				.content_personal {
					p {
						font-weight: 400;
						margin-bottom: 40px;
						}
					}
				ul {
					@include clearfix;
					@media screen and (min-width: $tablet_body) {
					 	text-align:left;
				    	h2 {text-align:left;}
						p {text-align:left;}
				    	}
				    li {
				    	float:left;
				    	p {font-size:14px;}
				    	}
				    div {
				    	display:inline-block;
				    	width:3px;height:20px;
				    	@include vp('border-radius','2px');
				    	background-color:$color_brand_secondary;
				    	margin: 10px 0px;
				    	}
					.description {
						@include use_noto;
						text-transform:uppercase;
						color:$color_black;
					    font-size: 14px;
					    letter-spacing: 2.5px;
					    font-weight: 600;
				        border-top: 2px dotted black;
					    padding-bottom:0px;
					    @media screen and (min-width: $tablet_body) {
							padding-top:27px;
							}
						}
					.description_situation {
						h2 {
							@extend .description;
							@media screen and (min-width: $tablet_body) {
								border-top:2px solid $color_black;
								}
							}
						@media screen and (min-width: $tablet_body) {
							p {margin-bottom:40px;}
							}
						@media screen and (min-width: $laptop_body) {
							width:31.481481481481%;
							margin-right:2.777777777778%;
							margin-bottom:0;
							display:inline-block;

							h2,p {
								color:$color_brand_secondary;
								}
							}
						}
					.description_approach {
						@include mobile_anti;
						h2 {
							@extend .description;
							}
						@media screen and (min-width: $tablet_body) {
							display:inline-block;
							width:47.663551401869%;
							margin-right:4.672897196262%;
							}
						@media screen and (min-width: $laptop_body) {
							width:31.481481481481%;
							margin-right:2.777777777778%;
							}
						}
					.description_experience {
						@include mobile_anti;
						h2 {
							@extend .description;
							}
						@media screen and (min-width: $tablet_body) {
							display:inline-block;
							width:47.663551401869%;
							}
						@media screen and (min-width: $laptop_body) {
							width:31.481481481481%;
							margin-right:0;
							}
						}
					}
				.content_video {}
				ul.grid_1_1_1 {@include grid_1_1_1}
				ul.grid_1_2_2 {@include grid_1_2_2}
				ul.grid_1_3_3 {@include grid_1_3_3}
				ul.grid_2_2_2 {@include grid_2_2_2}
				ul.grid_1_2_3 {@include grid_1_2_3}
				ul.grid_2_3_3 {@include grid_2_3_3}
				ul.grid_3_3_4 {@include grid_3_3_4}
				.content_thanks {}
				}
			}
		}
	}


